html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #061223 !important;
    color: #fff !important;
    min-width: 1000px;
    overflow: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

section {
    font-family: 'Microsoft YaHei';
}

.start-config {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 10px;
}

.start-config button {
    width: 20%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 2rem;
    padding: .5rem;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*img {*/
/*width: 42px;*/
/*height: 42px;*/
/*}*/

section h1, section h2 {
    padding: 0;
    font-size: 40px;
    color: #FF9900;
    font-weight: normal;
    margin-top: 53px;
    margin-left: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.show-pannel {
    height: 100%;
    margin-top: 40px;
}

section h1 {
    text-align: center;
}

.show-pannel ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 100%;
}

.show-pannel ul li {
    position: relative;
    box-sizing: border-box;
    flex:1;
    background: url(img/backpic1.png) 0 0 no-repeat;
   margin:20px;
    height: 300px;
    border-radius: 20px;
    /*max-width: 300px;*/
    background-size: cover;
}

.show-pannel li:nth-child(3n-1) {
    background: url(img/backpic2.png) 0 0 no-repeat;
    background-size: cover;
}
.show-pannel li:nth-child(3n-1) img {
    left:50%;
}

.show-pannel li:nth-child(3n) {
    background: url(img/backpic3.png) 0 0 no-repeat;
    background-size: cover;
}
.show-pannel li:nth-child(3n) .red p  {
    left:30%;
    bottom: 10%;
}


.show-pannel h2 {
    margin-top: 20px;
    font-size: 48px;
    color: #fff;
}

.show-pannel li > p {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}
.show-pannel .yellow,.show-pannel .blue,.show-pannel .red{
    height: 35%;
}

.show-pannel .yellow {
    position: absolute;
    z-index: 30;
    left: 2%;
    top: 50%;
    width: 40%;
    background-color: #eea800;
    box-shadow: 10px 10px 30px #222;
}

.show-pannel div p {
    font-size: 18px;
}

.show-pannel div span {
    font-size: 28px;
}

.yellow p {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 2%;
}

.show-pannel .yellow img {
    position: absolute;
    right: 5%;
    top: 10%;
}

.yellow, .blue, .red {
    border-radius: 18px;
}

.blue {
    position: absolute;
    z-index: 20;
    background-color: #2283f6;
    width: 40%;
    height: 30%;
    left: 35%;
    top: 60%;
    box-shadow: 10px 10px 30px #222;
}

.blue img {
    position: absolute;
    left: 15%;
    top: 10%;
}

.blue a {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 10%;
    right: 10%;
    background: url(img/refresh.jpg) 0 0 no-repeat;
}

.blue a:hover {
    background: url(img/refresh_hover.jpg) 0 0 no-repeat;
}

.blue p {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.red {
    position: absolute;
    z-index: 10;
    background-color: #fe3d50;
    width: 40%;
    height: 30%;
    left: 58%;
    top: 41%;
    box-shadow: 10px 10px 30px #222;
}

.red img {
    position: absolute;
    top: 10%;
    right: 15%;
}

.red p {
    position: absolute;
    bottom: 20%;
    right: 10%;
}
.input-mesg{
    margin-left: 10px;
    margin-right: 20px;
    width:50%;
    padding-left: 10px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
     border-radius:8px;
     font-size: 2rem;
}
.send_button {
    font-size: 3rem;
    height: 40px;
    width:35%;
    line-height: 40px;
    border-radius:8px;
    padding-left:10px;
    padding-right:10px;
    
}

.reset {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10%;
    border-color: #2d223d;
    border: 0;
    outline: 0;
    background-color: #2d223d;
    box-shadow: 10px 10px 3px #222;
}

.start {
    top: 18%;
}

.end {
    top: 44%;
}

.ansy {
    top: 70%;
    color: #555;
}

.config-layer {
    color: #000;
    font-size: 1rem;
}

.config-layer .layui-form-item {
    padding: 15px;
}


.layui-form-item {
    padding: 10px;
    font-size: 2rem;
    margin: 0 auto;
}

.layui-form-item label {
    display: inline-block;
    width: 184px;
    text-align: right;
    color: #444;
    line-height: 36px;
    margin-right: 5px;
}

.layui-form-item .layui-input-inline {
    display: inline-block;
}

.layui-form-item .layui-input-inline input {
    width: 524px;
    font-size: 1.5rem;
    line-height: 50px;
    height: 50px;
    border-radius: 5px;
}

.layui-form-item .layui-input-inline textarea {
    font-size: 1.5rem;
    width: 300px;
    height: 100px;
}

.layui-form-item .layui-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.layui-form-item .layui-button button {
    height: 50px;
    width: 122px;
    font-size: 2rem;
    border-radius: 5px;
}

.layui-form-item .mac-css {
    position: relative;
    top: -88px;
}

.circle {
    width: 30px;
    height: 30px;
    /*background: red;*/
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

.start-btn{
    display: flex;
    justify-content: center;
}
.start-btn a{
    width:350px;
    height:350px;
    background: url('img/button_normal.png') 0 0 no-repeat;
    background-size:cover;
    border:none;
}

.start-btn a:hover{
    
    /*background: url('img/button_selected.png') 0 0 no-repeat;*/
   opacity: .9;
   transition: all .2s;
}
.start-btn a:active{
    opacity: .8;
    transition: all .2s;
}



/**/

.config-btn {
    position: absolute;
    top: 41px;
    right: 32px;
    z-index: 2;
    background: transparent;
}

